.landing-link:hover {
  text-decoration: none;
}

.landing-header-container {
}

.landing-header-container:hover #landing_english {
  color: red;
}

.landing-header-container:hover #landing_chinese {
  color: black;
}
